/*reseña clientes*/
/*estrellas reseña*/
.testimonios {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}
.titulo_reseña {
	h1 {
		margin: 60px 30px 40px 50px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 35px;
		color: $color_9;
		font-weight: bold;
	}
}
.testimonios_header {
	h1 {
		font-size: 2.9rem;
		font-weight: 500;
		background-color: $background-color_2;
		color: $color_6;
		padding: 10px 20px;
	}
}
.testimonio_header {
	span {
		font-size: 2.2rem;
		color: $color_7;
		margin-bottom: 25px;
		text-transform: uppercase;
	}
}
.testimonios_contenedor {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}
.testimonios_caja {
	width: 500px;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.30);
	background-color: $background-color_4;
	padding: 20px;
	margin: 15px 30px 30px 30px;
}
.perfil-img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 30px;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.perfil {
	display: flex;
	align-items: center;
}
.name-user {
	display: flex;
	flex-direction: column;
	strong {
		color: $color_8;
		font-size: 1, 3rem;
	}
	span {
		color: $color_9;
	}
}
.caja-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	width: 100%;

}
	:root{
	--color-hover: #ffa400;
}
.valoracion {
	display: flex;
	justify-content: center;
	margin-top: 5px;
	button {
		background-color:$background-color_4;
		border: 0;
		color: $color_10;
		transition: 1s all;
		&:hover {
			cursor: pointer;
			transform: rotate(360deg);
		}
	}
}
button {
	&:nth-child(1) {
		&:hover~button {
			transform: rotate(360deg);
		}
	}
	&:nth-child(2) {
		&:hover~button {
			transform: rotate(360deg);
		}
	}
	&:nth-child(3) {
		&:hover~button {
			transform: rotate(360deg);
		}
	}
	&:nth-child(4) {
		&:hover~button {
			transform: rotate(360deg);
		}
	}
	&:nth-child(5) {
		&:hover~button {
			transform: rotate(360deg);
		}
	}
}