$color_1: #fff;
$color_2: #2ead38;
$color_3: #edf0f1;
$color_4: black;
$color_5: #787575;
$color_6: #fafafa;
$color_7: #252525;
$color_8: #5f5050;
$color_9: #979797;
$color_10: rgb(246, 223, 15);
$color_11: rgb(255, 252, 252);
$color_12: rgb(61, 61, 61);
$color_13: #f30b0b;
$background-color_1: #f30b0b;
$background-color_2: #9b9494;
$background-color_4: #fafafa;
$background-color_5: rgba(84, 81, 82, 0.40);
$background-color_6: rgba(72, 68, 70, 0.705);
$background-color_7: rgb(21, 17, 8);
$background-color_8: rgba(87, 81, 83, 0.705);
$background-color_9: initial;
$font-family_1: sans-serif;



















